.navbar {
    background-color: #f1f4f4;
    border-bottom: 1px solid #e0e0e0;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin-left: 2em;
  }
  
  .navbar-links a {
    color: #333;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
  }
  
  .navbar-links a:hover {
    color: #007bff;
  }
  