body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

.section {
  padding: 4em 2em;
  margin: 1em;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
}

h2 {
  color: #caebf2;
}

